<table>
  <th>
    Title:
  </th>
  <th>
    Details:
  </th>
  <th>
    Date:
  </th>
  <th>
    Time:
  </th>

  <tr>
    <td>
      <%= @event.title %>
    </td>
    <td>
      <%= @event.details %>
    </td>
    <td>
      <%= @event.date %>
    </td>
    <td>
      <%= @event.time %>
    </td>
  </tr>

</table>
